@model IEnumerable<Student_Management.Models.Classroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Classroom</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form asp-action="Index" method="get">
        <p>
            <input type="text" name="searchString" placeholder="Search by classroom code">
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassroomCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassroomCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSize)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
